<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>
        <header class="header">
            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <!-- Image -->
                        <img class="persons_picture" src="<%- data.profile_url %>" alt="Kamal">
                        <h2 class="text-center"><strong><%- data.name %></strong></h2>
                    </div>

                    <div class="col-md-8 row">
                        <div class="col-6">
                            <p class="field_data">Age:
                                <%- data.age %>
                            </p>
                            <p class="field_data">Race:
                                <%- data.race %>
                            </p>
                            <p class="field_data">Gender:
                                <%- data.gender %>
                            </p>
                            <p class="field_data">Phone:
                                <%- data.phone_number %>
                            </p>
                            <p class="field_data">Email:
                                <%- data.email_address %>
                            </p>
                        </div>

                        <div class="col-4">

                            <p class="field_data">Special Skills:
                                <%- data.special_skills %>
                            </p>
                            <p class="field_data">Medical History:
                                <%- data.medical_history %>
                            </p>
                            <p class="field_data">Residence:
                                <%- data.residence %>
                            </p>
                        </div>

                        <div class="col-2">
                            <a class="btn btn-outline-dark" href="/pledges">Pledges <span class="badge badge-dark">4</span></a>
                        </div>

                    </div>
                </div>

            </div>
        </header>
        <!--End of Header-->

        <hr>

        <!-- Main container -->
        <div id="more_user_information" class="container">

            <!-- Section:Biography -->
            <div class="row">

                <div class="user_data_field col-md-12">
                    <h2 class="card-title">Biography</h2>
                    <p>
                        <%- data.optional_message %>
                    </p>
                </div>

                <div class="user_data_field col-md-12">
                    <h2 class="card-title">Progression Report</h2>
                    <p># handler hasn't written a progress report yet.</p>
                </div>

            </div>
            <!-- End:Biography -->

            <!-- Section: Call To Action -->
            <div class="row">

                <div class="col-12 col-md-6">
                    <h1> Help Pane </h1>
                    <p> Help
                        <%- data.name %> by pledging resources to help
                            <%- data.name %> grow.
                    </p>
                    <a class="btn btn-block btn-outline-dark" href="/help_out">Help Out</a>
                </div>

                <div class="col-12 col-md-6">
                    <h1> Fund </h1>
                    <p> Help
                        <%- data.name %> financially by clicking the link below to donate some money. </p>
                    <a class="btn btn-block btn-outline-dark" href="https://ravesandbox.flutterwave.com/donate/dearpbmlt4a6">Donate</a>
                </div>

            </div>

            <!-- Community Comments -->
            <hr>

            <div class="row">
                <div class="col-12">
                    <h1>Community Comments</h1>
                    <!-- <hr> -->
                    <p class="text-muted">
                        Abusive or toxic Comments, will lead to a ban on your user account.
                    </p>
                    <form class="row" action="/comments" method="post">
                        <div class="col-9">
                            <input class="form-control" type="text" name="user_comment" id="">
                            <input type="hidden" name="id" value="<%- data._id %>">
                        </div>
                        <div class="col-3">
                            <input class="btn btn-outline-dark btn-block" type="submit" value="Submit">
                        </div>
                    </form>

                    <hr>

                    <% for(let i = colls.length-1; i > -1 ; i--) {%>
                        <% if(user_id == colls[i].recepientId) { %>
                            <div class="commentbox row">
                                <div class="col-4">
                                    <p>
                                        <%- colls[i].senderId %>
                                    </p>
                                </div>
                                <div class="col-8">
                                    <p>
                                        <%- colls[i].comment %>
                                    </p>
                                </div>
                            </div>
                            <%}%>
                                <% } %>

                </div>
            </div>

        </div>
        <%- include('./partials/footer'); -%>